# https://github.com/github/gitignore/blob/main/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Ignore test output.
test/test_app

# Ignore other outputs.
DartConfiguration.tcl
external/libmunit.a
Source/pdex.*
*.dylib
*.pdx

# Remove cache.
.ccls-cache
